<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=yes"> -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="W速运管理系统">
<meta name="author" content="Way Leung">
<meta name="keyword" content="WayLeung,System,Waybill,Management,Manage">
<link rel="shortcut icon" href="img/favicon.png">
<title>W速运管理系统</title>
<!-- Icons -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/simple-line-icons.css" rel="stylesheet">
<!-- Main styles for this application -->
<link href="css/style.css" rel="stylesheet">
<link href="datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
		
	<include src="header.html"></include>


	<div class="app-body">
	
			<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="nav">
					<include src="sidebar.html"></include>
				</ul>
			</nav>
		</div>
		
		
		<!-- Main content -->
		<main class="main"> <!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首页</a></li>
			<li class="breadcrumb-item active">工作人员管理</li>
			<!-- Breadcrumb Menu-->


		</ol>

		 <div class="container-fluid">
                <div class="animated fadeIn">
<!--                     <div class="row"> -->
                        <div class="col-lg-12">
                        
                                                                        <div class="card">
				<div class="card-header">
					<strong>查询</strong>
				</div>
				<div class="card-block">
					<form action="" method="post"
						class="form-horizontal ">

						<div class="form-group row">
							<label for="text-input" style="margin-left: 30px;">工号</label>
							<div class="col-md-3">
								<input type="text" id="id" name="id"
									class="form-control" placeholder="请输入工号">
								<!-- <span class="help-block">This is a help text</span> -->
							</div>



							<div class="col-md-2">
								<input type="button" onclick="selectEmployeeByPrimaryKey()" class="btn btn-sm btn-primary" value="查询">
								<input type="reset" class="btn btn-sm btn-danger" value="重置">

							</div>
							<p id="msg" style="color: red;text-align: center;"></p>
						</div>

					</form>

				</div>

			</div>
                        
                       <div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i>工作人员管理
						</div>
						<div class="card-block">

						
						
							<a href="#" data-toggle="modal" data-target="#AddModal">新增</a>
							<table id="employeeManage" class="table table-striped">
								<thead>
									<tr>
										<th>工号</th>
										<th>性别</th>
										<th>名字</th>
										<th>年龄</th>
										<th>电话</th>
										<th>所在地</th>
										<th>状态</th>
										<th>入职时间</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
								<!-- 	<tr>
										<td>123456</td>
										<td>男</td>
										<td>Way Leung</td>
										<td>123456</td>
										<td>15521608979</td>
										<td>88933668799899</td>
										<td>Way-Leung</td>
										<td>2018-03-01 18:28:00</td>
										<td>2018-02-22 18:28:09</td>
										<td><a href="#"  data-toggle="modal" data-target="#UpdateModal"><span class="badge badge-success">修改</span></a>
											<a href="#"  data-toggle="modal" data-target="#DeleteModal"><span class="badge badge-danger">删除</span></a></td>
									</tr> -->
									
									<template v-for="item in datas">

			  <tr>
			  							<input type="hidden"  :value="item.id" />
										<td>{{ item.id }}</td>
				  						<td>{{ item.sex=='m'?'男':'女' }}</td>
										<td>{{ item.name }}</td>
										<td>{{ item.age }}</td>
										<td>{{ item.phone }}</td>
										<td>{{ item.location }}</td>
										<td>{{ item.status }}</td>
										<td>{{ item.startTime }}</td>
										<td>{{ item.createTime }}</td>
										<td><a href="#"   v-on:click="Update(item)" data-toggle="modal" data-target="#UpdateModal"><span class="badge badge-success">修改</span></a>
											<a href="#" v-on:click="Delete(item)" data-toggle="modal" data-target="#DeleteModal"><span class="badge badge-danger">删除</span></a></td>
				</tr>
			  
    </template>
									
								</tbody>
							</table>

					
							<!-- /.modal -->

							<ul class="pagination">

                                        <li id="prevPage" onclick="prevPage()" class="page-item"><a class="page-link" href="#">上一页</a>
                                        </li>

										<li id="prevPage" onclick="prevPage()" class="page-item"><div  class="page-link"><span id="pageNum"></span>/<span  id="pages"></span></div>
                                        </li>
                                        <li id="nextPage" onclick="nextPage()" class="page-item"><a class="page-link" href="#">下一页</a>
                                      
                            </ul>
							
						</div>
					</div>
                        </div>
                        <!--/.col-->
<!--                     </div>
 -->                    <!--/.row-->
                </div>
                
                
                  <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">新增</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                 <form action="" method="post">
										<div class="form-group col-md-9">
                                            <label>工号</label>
                                            <input type="text"  v-model="addinfo.id"  id="id_add" name="" class="form-control" placeholder="请输入">
                                        </div>
										
										<div class="form-group col-md-9">
										<label>入职时间</label>
										</div>
										<div class="input-group date col-md-9"  >
											<input class="form-control"  id="startTime" value=""  size="16" type="text"  placeholder="请输入" readonly>		   
											<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
										</div>
										
                                        
                                         <div class="form-group col-md-9">
                                            <label >性别</label>
                                            <select  v-model="addinfo.sex"  class="form-control" id="sex" name="">
                                                <option value="m">男</option>
                                                <option value="f">女</option>
                                            </select>
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>名字</label>
                                            <input  v-model="addinfo.name"  type="text" id="name" name="" class="form-control" placeholder="请输入">
                                        </div>
										
										
										
                                        
                                        <div class="form-group col-md-9">
                                            <label>年龄</label>
                                            <input  v-model="addinfo.age"  type="text" id="age" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label>电话</label>
                                            <input  v-model="addinfo.phone"  type="text" id="phone" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                         <div class="form-group col-md-9">
                                            <label>所在地</label>
                                            <input  v-model="addinfo.location"  type="text" id="location" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                         <div class="form-group col-md-9">
                                            <label>状态</label>
                                            <input  v-model="addinfo.status"  type="text" id="status" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
										
                                        
                                                                          
                                    </form>
                            </div>
                            <p id="msgadd" style="color: red;text-align: center;"></p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button"  id="addButton" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                
                
                
                
                  <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">修改信息</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            
                                    <form action="" method="post">
                                     <div class="form-group col-md-9">
                                            <label >工号</label>
                                            <input disabled="disabled" v-model="updateinfo.id" type="text" id="id_update" name="" class="form-control" placeholder="请输入">
                                        </div>
										
										

										
										
										<div class="form-group col-md-9">
										<label>入职时间</label>
										</div>
										<div class="input-group date col-md-9" >
										
										
											<input class="form-control" value="" id="startTime_update"   size="16" type="text"  placeholder="请输入"  readonly>
										   
											<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
										</div>
										
                                        
                                         <div class="form-group col-md-9">
                                            <label>性别</label>
                                            <select  v-model="updateinfo.sex"  class="form-control" id="sex" name="">
                                                <option value="m">男</option>
                                                <option value="f">女</option>
                                            </select>
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label >名字</label>
                                            <input  v-model="updateinfo.name"  type="text" id="name" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label >年龄</label>
                                            <input v-model="updateinfo.age"  type="text" id="age" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label>电话</label>
                                            <input  v-model="updateinfo.phone" type="text" id="phone" name="" class="form-control" placeholder="请输入">
                                        </div>
                                    
                                                                                 <div class="form-group col-md-9">
                                            <label>所在地</label>
                                            <input  v-model="updateinfo.location"  type="text" id="location" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                         <div class="form-group col-md-9">
                                            <label>状态</label>
                                            <input  v-model="updateinfo.status"  type="text" id="status" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                    </form>
                            </div>
                            
                            <p id="msgupdate" style="color: red;text-align: center;"></p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" id="updateButton" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->


                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">警告</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>是否确定删除？</p>
                            </div>
                            <input type="hidden"  v-model="deleteinfo.id"  id="id" name="">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" id="deleteButton" class="btn btn-primary">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

            </div>
            <!-- /.conainer-fluid --></main>

	</div>

	<include src="footer.html"></include>

	<!-- Bootstrap and necessary plugins -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	
	<script type="text/javascript" src="datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	
	<script src="bower_components/tether/dist/js/tether.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/pace/pace.min.js"></script>
	<!-- Plugins and scripts required by all views -->
	<script src="bower_components/chart.js/dist/Chart.min.js"></script>
	<!-- GenesisUI main scripts -->
	<script src="js/app.js"></script>
	<!-- Vue-->
	<script src="js/vue.min.js"></script>








	<script type="text/javascript">
	
	
	
	

	function deleteAll(id){
		$('#'+id).empty();
	}

	function addMsg(id,msg){
		$('#'+id).text(msg);
	}
	
	


	function getHostPath() {
		var curWwwPath = window.document.location.href;
		var pathName = window.document.location.pathname;
		var pos = curWwwPath.indexOf(pathName);
		//获取主机地址，如： http://localhost:8083
		var localhostPath = curWwwPath.substring(0, pos);
		return localhostPath;
	}
	
	
	 
	//返回地址栏参数
		function GetQueryString(name)
		{
	     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
	     var r = window.location.search.substr(1).match(reg);
	     if(r!=null)return  unescape(r[2]); return null;
		}
	

	var rootPath = getHostPath() + "/";
	/* 			  $(document).ready(function(){
	 console.log(rootPath); 
	 }); */


	
	 var employee_vm = 	new Vue({
		  el: '#employeeManage',
		  data: {datas:{}},
		  methods:{  

              Delete: function (id) //删除  
              {  
            	  console.log(id); 
            	  delete_vm.$data.deleteinfo = id;
              },  
              Update: function (item) //更新  
              {  
            	  console.log(item);
            	  //克隆一个对象   这样更新表单中改变数据 不会影响前端表单
                   var databack = $.extend({}, item);  
            	  update_vm.$data.updateinfo = databack;  
              }  
          }  
		})
		
		
	//function ajax(api,datas) {
	$(document).ready(function() {
		
var currentPage = GetQueryString('currentPage');
		
		
		
		
		console.log(currentPage);
		if(currentPage!=null&&currentPage!=''){
			var url = rootPath + "selectAllEmployees?currentPage="+currentPage;
		}else{
			var url = rootPath + "selectAllEmployees";
		}
		
		
		
	
		var url = rootPath + "selectAllEmployees";
		console.log(url);
		$.ajax({
					url : url,
					type : "get",
					async : true,
					dataType : "json",
					//data: datas,
					//异步   注意数据的获取
					success : function(data) {
						employee_vm.datas = data.datas.list;
						//分页
						$('#pageNum').text(data.datas.pageNum);
						$('#pages').text(data.datas.pages);
					}
			 	}); 
	});
	
	

	

		//分页
			
			
			
			
			
			function nextPage(){
				
				var currentPage = GetQueryString('currentPage');
				
				console.log(currentPage);
				if(currentPage!=null&&currentPage!=''){
					var url = rootPath + "selectAllEmployees?currentPage="+currentPage;
				}else{
					var url = rootPath + "selectAllEmployees";
				}
				
				
				console.log(url);
				$.ajax({
							url : url,
							type : "get",
							async : true,
							dataType : "json",
							//data: datas,
							//异步   注意数据的获取
							success : function(data) {
								/* user_vm.datas=data.datas; */
								//总页数
								var pages = data.datas.pages;
								//现在页码
								var pageNum = data.datas.pageNum;
								console.log('pages'+pages+' pageNum'+pageNum);
								if(currentPage+1>0&&pageNum<pages){
									
									window.location.replace(rootPath + "admin/employee_manage.html?currentPage="+(pageNum+1)); 
								
									
								}
								
								
							}
					 	}); 
			}
			
			function prevPage(){
				var currentPage = GetQueryString('currentPage');
				
				console.log(currentPage);
				if(currentPage!=null&&currentPage!=''){
					var url = rootPath + "selectAllEmployees?currentPage="+currentPage;
				}else{
					var url = rootPath + "selectAllEmployees";
				}
				console.log(url);
				$.ajax({
							url : url,
							type : "get",
							async : true,
							dataType : "json",
							//data: datas,
							//异步   注意数据的获取
							success : function(data) {
								/* user_vm.datas=data.datas; */
								//总页数
								var pages = data.datas.pages;
								//现在页码
								var pageNum = data.datas.pageNum;
								console.log('pages'+pages+' pageNum'+pageNum);
								if((pageNum-1)>=1&&pageNum<=pages){
									
									window.location.replace(rootPath + "admin/employee_manage.html?currentPage="+(pageNum-1));
								
									
								}
								
								
							}
					 	}); 
			}
			

		
	
	
	
	
	
	
	//给更新div添加数据  
    var update_vm = new Vue({  
        el: "#UpdateModal",  
        data: {  
            updateinfo: {}  
        }  
    });  
	
	
	$("#updateButton").click(
		
			
		function(){
			
			var id  = $('#id_update').val();
			if(id==null||id==''){
				deleteAll('msgadd');
		    	addMsg('msgadd', '工号不能为空');
			}else{
				
				console.log('update submit');
				
				//加入时间控件后 vue model有问题
					var startTime = $("#startTime_update").val();
					if(startTime!=''&&startTime!=undefined&&startTime!=null){
						update_vm.$data.updateinfo.startTime = startTime;
					}
				 $.post(rootPath+'/updateEmployeeByPrimarykey', update_vm.$data.updateinfo, function (result) {  
					 console.log(result);
					 window.location.reload();
		        //可以把vue.js数据替换从而更新更新到页面  
	/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

		    });  
			}
			

		}
	);
	
	
    var add_vm = new Vue({  
        el: "#AddModal",  
        data: {  
            addinfo: {}  
        }  
    });  
	
    
    
    
	
	$("#addButton").click(
			function(){
				var idReg = /^(-)?\d+(\.\d+)?$/;
				var id = $('#id_add').val();
				
				
				if(id==null||id==''){
					deleteAll('msgadd');
			    	addMsg('msgadd', '工号不能为空');
				}else if(idReg.test(id)==false){
					deleteAll('msgadd');
			    	addMsg('msgadd', '工号只能为数字');
			    }else{
					console.log('add submit');
					//加入时间控件后 vue model有问题
					var startTime = $("#startTime").val();
					if(startTime!=''&&startTime!=undefined&&startTime!=null){
						add_vm.$data.addinfo.startTime = startTime;
					}
					console.log(startTime);
					
					 $.post(rootPath+'/insertEmployee', add_vm.$data.addinfo, function (result) {  
						 console.log(result);
						 window.location.reload();
			        //可以把vue.js数据替换从而更新更新到页面  
		/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

			    });
				}
			
  
			}
		);
	
	
	//给更新div添加数据  
    var delete_vm = new Vue({  
        el: "#DeleteModal",  
        data: { 
        	deleteinfo:{}
        }  
    }); 
	
   
	$("#deleteButton").click(
			function(){
				console.log('del submit');
				 $.post(rootPath+'/deleteEmployeeByPrimaryKey', delete_vm.$data.deleteinfo, function (result) {  
					 console.log(result);
			 		 window.location.reload(); 
		        //可以把vue.js数据替换从而更新更新到页面  
	/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

		    });  
			}
		);
	
	function selectEmployeeByPrimaryKey(){
	    var id = $('#id').val();
	    if(id==null||id==''){
	    	deleteAll('msg');
	    	addMsg('msg', '工号不能为空');
	    }else{
	    
	   	 $.ajax({
	         type:"GET",
	         async:true,
	         //resultjson里面要数组 否则vue接收不到数据
	         url: rootPath+"selectEmployeeByPrimaryKeyList",
	         dataType:"json",
	         data:{'id':id},
	         //这里的data是输入框的data
	         //这里的data是ajax返回的data
	         success:function(data){
	        	 
	        	 if(data.success==true){
	        		 
	        		 deleteAll('msg');
	        		console.log(data);
	        		employee_vm.datas=data.datas;

	        	 }else{
	        		 employee_vm.datas=null;
	        		deleteAll('msg');
	        		addMsg('msg', data.msg);
	        	 }   	 
	         },
	         error:function(e){
	         alert("error");
	         }
	       });
	    }

	}
	


	//日期控件放最后?
	$('#startTime').datetimepicker({
		
		format: 'yyyy-mm-dd hh:ii:ss',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	
$('#startTime_update').datetimepicker({
		
		format: 'yyyy-mm-dd hh:ii:ss',
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	
	
	
	/** 
	 * include页面方法
	 */  
	(function(window, document, undefined) {  
	    var Include39485748323 = function() {}  
	    Include39485748323.prototype = {  
	        //倒序循环  
	        forEach: function(array, callback) {  
	            var size = array.length;  
	            for(var i = size - 1; i >= 0; i--){  
	                callback.apply(array[i], [i]);  
	            }  
	        },  
	        getFilePath: function() {  
	            var curWwwPath=window.document.location.href;  
	            var pathName=window.document.location.pathname;  
	            var localhostPaht=curWwwPath.substring(0,curWwwPath.indexOf(pathName));  
	            var projectName=pathName.substring(0,pathName.substr(1).lastIndexOf('/')+1);  
	            return localhostPaht+projectName;  
	        },  
	        //获取文件内容  
	        getFileContent: function(url) {  
	            var ie = navigator.userAgent.indexOf('MSIE') > 0;  
	            var o = ie ? new ActiveXObject('Microsoft.XMLHTTP') : new XMLHttpRequest();  
	            o.open('get', url, false);  
	            o.send(null);  
	            return o.responseText;  
	        },  
	        parseNode: function(content) {  
	            var objE = document.createElement("div");  
	            objE.innerHTML = content;  
	            return objE.childNodes;  
	        },  
	        executeScript: function(content) {  
	            var mac = /<script>([\s\S]*?)<\/script>/g;  
	            var r = "";  
	            while(r = mac.exec(content)) {  
	                eval(r[1]);  
	            }  
	        },  
	        getHtml: function(content) {  
	            var mac = /<script>([\s\S]*?)<\/script>/g;  
	            content.replace(mac, "");  
	            return content;  
	        },  
	        getPrevCount: function(src) {  
	            var mac = /\.\.\//g;  
	            var count = 0;  
	            while(mac.exec(src)) {  
	                count++;  
	            }  
	            return count;  
	        },  
	        getRequestUrl: function(filePath, src) {  
	            if(/http:\/\//g.test(src)){ return src; }  
	            var prevCount = this.getPrevCount(src);  
	            while(prevCount--) {  
	                filePath = filePath.substring(0,filePath.substr(1).lastIndexOf('/')+1);  
	            }  
	            return filePath + "/"+src.replace(/\.\.\//g, "");  
	        },  
	        replaceIncludeElements: function() {  
	            var $this = this;  
	            var filePath = $this.getFilePath();  
	            var includeTals = document.getElementsByTagName("include");  
	            this.forEach(includeTals, function() {  
	                //拿到路径  
	                var src = this.getAttribute("src");  
	                //拿到文件内容  
	                var content = $this.getFileContent($this.getRequestUrl(filePath, src));  
	                //将文本转换成节点  
	                var parent = this.parentNode;  
	                var includeNodes = $this.parseNode($this.getHtml(content));  
	                var size = includeNodes.length;  
	                for(var i = 0; i < size; i++) {  
	                    parent.insertBefore(includeNodes[0], this);  
	                }  
	                //执行文本中的额javascript  
	                $this.executeScript(content);  
	                parent.removeChild(this);  
	                //替换元素 this.parentNode.replaceChild(includeNodes[1], this);  
	            })  
	        }  
	    }  
	    window.onload = function() {  
	        new Include39485748323().replaceIncludeElements();  
	    }  
	})(window, document) 

    </script>



</body>

</html>