<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="W速运管理系统">
<meta name="author" content="Way Leung">
<meta name="keyword" content="WayLeung,System,Waybill,Management,Manage">
<link rel="shortcut icon" href="img/favicon.png">
<title>W速运管理系统</title>
<!-- Icons -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/simple-line-icons.css" rel="stylesheet">
<!-- Main styles for this application -->
<link href="css/style.css" rel="stylesheet">
</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	
	<include src="header.html"></include>


	<div class="app-body">
	
			<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="nav">
					<include src="sidebar.html"></include>
				</ul>
			</nav>
		</div>


		<!-- Main content -->
		<main class="main"> <!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">首页</a></li>
			<li class="breadcrumb-item active">快递单号管理</li>
			<!-- Breadcrumb Menu-->


		</ol>

		 <div class="container-fluid">
                <div class="animated fadeIn">
                
                
                
                
<!--                     <div class="row"> -->
                        <div class="col-lg-12">
                        
                        <div class="card">
				<div class="card-header">
					<strong>查询</strong>
				</div>
				<div class="card-block">
					<form action="" method="post"
						class="form-horizontal ">

						<div class="form-group row">
							<label for="text-input" style="margin-left: 30px;">运单号码</label>
							<div class="col-md-3">
								<input type="text" id="waybill_number" name="waybill_number"
									class="form-control" placeholder="请输入运单号码">
								<!-- <span class="help-block">This is a help text</span> -->
							</div>



							<!-- 			<label for="select" style="margin-left: 30px;">所在部门</label>
							<div class="col-md-2">
								<select id="select" name="dept" class="form-control">
									<option >请选择</option>
									<option value="人事部">人事部</option>
									<option value="秘书部">秘书部</option>
									<option value="公关部">公关部</option>
									<option value="市场部">市场部</option>
								</select>
							</div>
							
							
							<label for="select" style="margin-left: 30px;">运单状态</label>
							<div class="col-md-2">
								<select id="select" name="user_status" class="form-control">
									<option >请选择</option>
									<option value="锁定">锁定</option>
									<option value="挂起">挂起</option>
									<option value="激活">激活</option>
								</select>
							</div>
						</div>




						<div class="form-group row">
							<label for="text-input" style="margin-left: 30px;">创建时间</label>
							<div class="col-md-2">
								<input type="text" id="text-input" name="begin_time"
									class="form-control" placeholder="开始时间"  onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
								<span class="help-block">This is a help text</span>
							</div>
							<label for="select">-</label>
							<div class="col-md-2">
								<input type="text" id="text-input" name="end_time"
									class="form-control" placeholder="结束时间"  onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
								<span class="help-block">This is a help text</span>
							</div> -->


							<div class="col-md-2">
								<input type="submit" class="btn btn-sm btn-primary" value="查询">
								<input type="button" class="btn btn-sm btn-danger" value="重置">

							</div>
						</div>

					</form>

				</div>

			</div>
                        
                       <div class="card">
						<div class="card-header">
							<i class="fa fa-align-justify"></i>快递单号管理
						</div>
						<div class="card-block">
							<a href="#" data-toggle="modal" data-target="#AddModal">新增</a>
							<table id="waybillManage" class="table table-striped">
								<thead>
									<tr>
										<th>运单号</th>
										<th>寄件人</th>
										<th>寄件地址</th>
										<th>寄件人电话</th>
										<th>寄件日期</th>
										<th>收件人</th>
										<th>收件地址</th>
										<th>收件人电话</th>
										<th>费用</th>
										<th>揽件人</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
								<!-- 	<tr>
										<td>123456</td>
										<td>男</td>
										<td>Way Leung</td>
										<td>123456</td>
										<td>15521608979</td>
										<td>88933668799899</td>
										<td>Way-Leung</td>
										<td>2018-03-01 18:28:00</td>
										<td>2018-02-22 18:28:09</td>
										<td><a href="#"  data-toggle="modal" data-target="#UpdateModal"><span class="badge badge-success">修改</span></a>
											<a href="#"  data-toggle="modal" data-target="#DeleteModal"><span class="badge badge-danger">删除</span></a></td>
									</tr> -->
									
									<template v-for="item in datas">

			  <tr>
										<td>{{ item.waybillNumber }}</td>
				  						<td>{{ item.fromName}}</td>
										<td>{{ item.fromAddress }}</td>
										<td>{{ item.fromPhone }}</td>
										<td>{{ item.sendDate }}</td>
										<td>{{ item.toName }}</td>
										<td>{{ item.toAddress }}</td>
										<td>{{ item.toPhone }}</td>
										<td>{{ item.totalCharge }}</td>
										<td>{{ item.pickedupBy }}</td>
										<td>{{ item.createTime }}</td>
										<td><a href="#"   v-on:click="Update(item)" data-toggle="modal" data-target="#UpdateModal"><span class="badge badge-success">修改</span></a>
										<a href="#" v-on:click="Status(item)" data-toggle="modal" data-target="#StatusModal"><span class="badge badge-warning">运单状态</span></a>
										<a href="#" v-on:click="AddStatus(item)" data-toggle="modal" data-target="#AddStatusModal"><span class="badge badge-info">新增运单状态</span></a>
											<a href="#" v-on:click="Delete(item)" data-toggle="modal" data-target="#DeleteModal"><span class="badge badge-danger">删除</span></a></td>
				</tr>
			  
    </template>
									
								</tbody>
							</table>

					
							<!-- /.modal -->



							<!-- <ul class="pagination"> 
                                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">4</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul> -->
						</div>
					</div>
                        </div>
                        <!--/.col-->
<!--                     </div>
 -->                    <!--/.row-->
                </div>
                
                
                  <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">新增</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                 <form action="" method="post">
										<div class="form-group col-md-9">
                                            <label>运单号</label>
                                            <input type="text"  v-model="addinfo.waybillNumber"  id="waybillNumber" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                         <div class="form-group col-md-9">
                                            <label >寄件人</label>
                                          <input  v-model="addinfo.fromName"  type="text" id="fromName" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>寄件地址</label>
                                            <input  v-model="addinfo.fromAddress"  type="text" id="fromAddress" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label>寄件人电话</label>
                                            <input  v-model="addinfo.fromPhone"  type="text" id="fromPhone" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label>寄件日期</label>
                                            <input  v-model="addinfo.sendDate"  type="text" id="sendDate" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>收件人</label>
                                            <input  v-model="addinfo.toName"  type="text" id="toName" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>收件地址</label>
                                            <input  v-model="addinfo.toAddress"  type="text" id="toAddress" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>收件人电话</label>
                                            <input  v-model="addinfo.toPhone"  type="text" id="toPhone" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>总费用</label>
                                            <input  v-model="addinfo.totalCharge"  type="text" id="totalCharge" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>揽件人</label>
                                            <input  v-model="addinfo.pickedupBy"  type="text" id="pickedupBy" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                     
                                        
                                                                          
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button"  id="addButton" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                
                
                
                
                  <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">修改信息</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            
                                    <form action="" method="post">
                                     <div class="form-group col-md-9">
                                            <label >运单号</label>
                                            <input v-model="updateinfo.waybillNumber" type="text" id="waybillNumber" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                                                                
                                         <div class="form-group col-md-9">
                                            <label >寄件人</label>
                                          <input  v-model="updateinfo.fromName"  type="text" id="fromName" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>寄件地址</label>
                                            <input  v-model="updateinfo.fromAddress"  type="text" id="fromAddress" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label>寄件人电话</label>
                                            <input  v-model="updateinfo.fromPhone"  type="text" id="fromPhone" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        <div class="form-group col-md-9">
                                            <label>寄件日期</label>
                                            <input  v-model="updateinfo.sendDate"  type="text" id="sendDate" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>收件人</label>
                                            <input  v-model="updateinfo.toName"  type="text" id="toName" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>收件地址</label>
                                            <input  v-model="updateinfo.toAddress"  type="text" id="toAddress" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>收件人电话</label>
                                            <input  v-model="updateinfo.toPhone"  type="text" id="toPhone" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>总费用</label>
                                            <input  v-model="updateinfo.totalCharge"  type="text" id="totalCharge" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>揽件人</label>
                                            <input  v-model="updateinfo.pickedupBy"  type="text" id="pickedupBy" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                       
                                                                          
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" id="updateButton" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->


                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">警告</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>是否确定删除？</p>
                            </div>
                            <input type="hidden"  v-model="deleteinfo.waybillNumber"  id="waybillNumber" name="">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" id="deleteButton" class="btn btn-primary">确定</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                
                
                
                                  <div class="modal fade" id="AddStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">新增物流状态信息</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            
                                    <form action="" method="post">
                                    
                                     <input v-model="addstatusinfo.waybillNumber" type="hidden" id="waybillNumber" name="" class="form-control">
                                    
                                    
                                     <div class="form-group col-md-9">
                                            <label >到达所在地</label>
                                       		<select  v-model="addstatusinfo.locationNow"  class="form-control" id="locationNow" name="">
                                                <option value="0">广东肇庆营业厅</option>
                                                <option value="1">广东肇庆端州分部</option>
                                                <option value="2">广东肇庆中转部</option>
                                                <option value="3">广东广州中转部</option>
                                                <option value="4">广东广州分部</option>
                                                <option value="5">广东广州营业厅</option>
                                            </select>
                                        </div>
                                        
                                                                                
                                         <div class="form-group col-md-9">
                                            <label >到达所在地时间</label>
                                          <input  v-model="addstatusinfo.lacationTime"  type="text" id="lacationTime" name="" class="form-control" placeholder="请输入">
                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>状态</label>
                                            
                                            <select  v-model="addstatusinfo.status"  class="form-control" id="status" name="">
                                                <option value="1">已收入</option>
                                                <option value="2">已揽件</option>
                                                <option value="3">运输中</option>
                                                <option value="4">派送中</option>
                                               	<option value="5">已签收</option>
                                            </select>

                                        </div>
                                        
                                        
                                        <div class="form-group col-md-9">
                                            <label>负责人</label>
                                            <select  v-model="addstatusinfo.employeeCharge"  class="form-control" id="status" name="">
                                                <option value="1">刘师傅</option>
                                                <option value="2">王师傅</option>
                                            </select>
                                        </div>
                                        

                                        
                                        

                                       
                                                                          
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" id="addStatusButton" class="btn btn-primary">新增</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                
                
                
		<div class="modal fade" id="StatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">运单状态</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
								
								
								<table class="table">
								<!-- <thead>
									<tr>
										<th>状态</th>
										<th>现在位置</th>
										<th>位置时间</th>
										<th>id</th>
									</tr>
								</thead> -->
								<tbody id="waybillStatusManage">
							
									
									<template  v-for="item in datas">

			  <tr>
			  							
				  			
							<td><h6>{{ item.lacationTime }}：快件{{ item.statusName}}，已到达{{ item.locationName }}，负责人{{ item.name}}</h6></td>
										
				</tr>
			  
    </template>
									
								</tbody>
							</table>
								
								
								
								
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="statusRefreshButton" class="btn btn-secondary" data-dismiss="modal">返回</button>
                               
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->	
                

            </div>
            <!-- /.conainer-fluid --></main>

	</div>

	<include src="footer.html"></include>

	<!-- Bootstrap and necessary plugins -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/tether/dist/js/tether.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/pace/pace.min.js"></script>
	<!-- Plugins and scripts required by all views -->
	<script src="bower_components/chart.js/dist/Chart.min.js"></script>
	<!-- GenesisUI main scripts -->
	<script src="js/app.js"></script>
	<!-- Vue-->
	<script src="js/vue.min.js"></script>
	<script type="text/javascript">
	

	
	
	
/* 
	$('#data_4 .input-group.date').datepicker({
		todayBtn : "linked",
		keyboardNavigation : false,
		forceParse : false,
		calendarWeeks : true,
		autoclose : true
	}); */

	function getHostPath() {
		var curWwwPath = window.document.location.href;
		var pathName = window.document.location.pathname;
		var pos = curWwwPath.indexOf(pathName);
		//获取主机地址，如： http://localhost:8083
		var localhostPath = curWwwPath.substring(0, pos);
		return localhostPath;
	}

	var rootPath = getHostPath() + "/";
	/* 			  $(document).ready(function(){
	 console.log(rootPath); 
	 }); */



		
	//function ajax(api,datas) {
	$(document).ready(function() {
		var url = rootPath + "selectAllWaybills";
		console.log(url);
		$.ajax({
					url : url,
					type : "get",
					async : true,
					dataType : "json",
					//data: datas,
					//异步   注意数据的获取
					success : function(datas) {
						   new Vue({
							  el: '#waybillManage',
							  data: datas,
							  methods:{  

					              Delete: function (id) //删除  
					              {  
					            	  console.log(id); 
					            	  delete_vm.$data.deleteinfo = id;
					              },
					              
					              Status:function(item){
					            	  
					            	  console.log(item.waybillNumber); 
					          		$.ajax({
					        			url : rootPath + "selectWaybillStatusByWaybillNumber",
					        			type : "get",
					        			async : true,
					        			dataType : "json",
					        			data: {waybillNumber:item.waybillNumber},
					        			//异步   注意数据的获取
					        			success : function(datas) {
					        				   new Vue({
					        					  el: '#waybillStatusManage',
					        					  data: datas,
					        					})
					        			}
					        	 	});
					              },
					              
					              Update: function (item) //更新  
					              {  
					            	  console.log(item);
					            	  //克隆一个对象   这样更新表单中改变数据 不会影响前端表单
				                       var databack = $.extend({}, item);  
					            	  update_vm.$data.updateinfo = databack;  
					              } ,
					              
					              
					              AddStatus: function (item) //删除  
					              {  
					            	  console.log(item); 
					            	  addstatus_vm.$data.addstatusinfo = item;
					              },
					          }  
							})
					}
			 	}); 

	});
	
	

	
	
	//给更新div添加数据  
    var update_vm = new Vue({  
        el: "#UpdateModal",  
        data: {  
            updateinfo: {}  
        }  
    });  
	
	
	$("#updateButton").click(
		function(){
			console.log('update submit');
			 $.post(rootPath+'/updateWaybillByPrimarykey', update_vm.$data.updateinfo, function (result) {  
				 console.log(result);
				 window.location.reload();
	        //可以把vue.js数据替换从而更新更新到页面  
/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

	    });  
		}
	);
	
	
    var add_vm = new Vue({  
        el: "#AddModal",  
        data: {  
            addinfo: {}  
        }  
    });  
	
    
    
    
	
	$("#addButton").click(
			function(){
				console.log('add submit');
				 $.post(rootPath+'/insertWaybill', add_vm.$data.addinfo, function (result) {  
					 console.log(result);
					 window.location.reload();
		        //可以把vue.js数据替换从而更新更新到页面  
	/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

		    });  
			}
		);
	
	
	//给更新div添加数据  
    var delete_vm = new Vue({  
        el: "#DeleteModal",  
        data: { 
        	deleteinfo:{}
        }  
    }); 
	
   
	$("#deleteButton").click(
			function(){
				console.log('del submit');
				 $.post(rootPath+'/deleteWaybillByPrimaryKey', delete_vm.$data.deleteinfo, function (result) {  
					 console.log(result);
			 		 window.location.reload(); 
		        //可以把vue.js数据替换从而更新更新到页面  
	/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

		    });  
			}
		);
	
	
	$("#statusRefreshButton").click(
			function(){
			 window.location.reload();
			}
		);
	
	
	
	
	
	
	
	
    var addstatus_vm = new Vue({  
        el: "#AddStatusModal",  
        data: {  
            addstatusinfo: {}  
        }  
    });  
	
    
    
    
	
	$("#addStatusButton").click(
			function(){
				console.log('addstatus submit');
				 $.post(rootPath+'/insertWaybillStatus', addstatus_vm.$data.addstatusinfo, function (result) {  
					 console.log(result);
					 window.location.reload();
		        //可以把vue.js数据替换从而更新更新到页面  
	/* 	        vm.$data.datas.splice(index, index, update_vm.$data.updateinfo);   */

		    });  
			}
		);
	
	
	
	/** 
	 * include页面方法
	 */  
	(function(window, document, undefined) {  
	    var Include39485748323 = function() {}  
	    Include39485748323.prototype = {  
	        //倒序循环  
	        forEach: function(array, callback) {  
	            var size = array.length;  
	            for(var i = size - 1; i >= 0; i--){  
	                callback.apply(array[i], [i]);  
	            }  
	        },  
	        getFilePath: function() {  
	            var curWwwPath=window.document.location.href;  
	            var pathName=window.document.location.pathname;  
	            var localhostPaht=curWwwPath.substring(0,curWwwPath.indexOf(pathName));  
	            var projectName=pathName.substring(0,pathName.substr(1).lastIndexOf('/')+1);  
	            return localhostPaht+projectName;  
	        },  
	        //获取文件内容  
	        getFileContent: function(url) {  
	            var ie = navigator.userAgent.indexOf('MSIE') > 0;  
	            var o = ie ? new ActiveXObject('Microsoft.XMLHTTP') : new XMLHttpRequest();  
	            o.open('get', url, false);  
	            o.send(null);  
	            return o.responseText;  
	        },  
	        parseNode: function(content) {  
	            var objE = document.createElement("div");  
	            objE.innerHTML = content;  
	            return objE.childNodes;  
	        },  
	        executeScript: function(content) {  
	            var mac = /<script>([\s\S]*?)<\/script>/g;  
	            var r = "";  
	            while(r = mac.exec(content)) {  
	                eval(r[1]);  
	            }  
	        },  
	        getHtml: function(content) {  
	            var mac = /<script>([\s\S]*?)<\/script>/g;  
	            content.replace(mac, "");  
	            return content;  
	        },  
	        getPrevCount: function(src) {  
	            var mac = /\.\.\//g;  
	            var count = 0;  
	            while(mac.exec(src)) {  
	                count++;  
	            }  
	            return count;  
	        },  
	        getRequestUrl: function(filePath, src) {  
	            if(/http:\/\//g.test(src)){ return src; }  
	            var prevCount = this.getPrevCount(src);  
	            while(prevCount--) {  
	                filePath = filePath.substring(0,filePath.substr(1).lastIndexOf('/')+1);  
	            }  
	            return filePath + "/"+src.replace(/\.\.\//g, "");  
	        },  
	        replaceIncludeElements: function() {  
	            var $this = this;  
	            var filePath = $this.getFilePath();  
	            var includeTals = document.getElementsByTagName("include");  
	            this.forEach(includeTals, function() {  
	                //拿到路径  
	                var src = this.getAttribute("src");  
	                //拿到文件内容  
	                var content = $this.getFileContent($this.getRequestUrl(filePath, src));  
	                //将文本转换成节点  
	                var parent = this.parentNode;  
	                var includeNodes = $this.parseNode($this.getHtml(content));  
	                var size = includeNodes.length;  
	                for(var i = 0; i < size; i++) {  
	                    parent.insertBefore(includeNodes[0], this);  
	                }  
	                //执行文本中的额javascript  
	                $this.executeScript(content);  
	                parent.removeChild(this);  
	                //替换元素 this.parentNode.replaceChild(includeNodes[1], this);  
	            })  
	        }  
	    }  
	    window.onload = function() {  
	        new Include39485748323().replaceIncludeElements();  
	    }  
	})(window, document) 
    </script>



</body>

</html>